<h1>SimplePages#about</h1>
<p>We steal bikes all around the city, refurbish and paint them with love and sell them for a decent price to you, dear hipsters!</p>
<p>Find me in app/views/simple_pages/about.html.erb</p>
