<div class= "About" id="About">
  <h1>Our mission:</h1>
  <p>We steal bikes all around the city, <br> refurbish and paint them with love <br> and sell them for a decent price to you, <br> dear hipsters!</p>
</div>
