<h1>SimplePages#contact</h1>
<p>Book an appointment on our app! <br>One of our employees will contact you and invite you to our showroom in Görlitzer Park</p>
<p>Find me in app/views/simple_pages/contact.html.erb</p>
