<%= image_tag("bikeberlin.jpg", class: "img-responsive") %>
<div class="index-content" id="Index">
 <h1>Welcome to Bike Berlin</h1>
 <h2>Your source for used bikes in Berlin.</h2>
 <p class="intro-text">Got your bike stolen? We are selling it back to you!</p>
 <%= render 'simple_pages/carousel' %>
</div>
