<div id="Products">
 <h1>Find the bike of your dreams</h1>
 <h2>Have a look at our catalogue!</h2>
 <p>Over 666 products available.</p>
 <%= image_tag("spectral.png", class: "img-responsive") %>
</div>
