// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Questrial, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: left;
  text-transform: uppercase;
  background-color: #0066CC;
  color: #FFF;
  padding: 2em 0.5em;
  width: 100%;
}

h2 {
  font-size: 2em;
  font-weight: 50;
  text-align: left;
  padding: 1em;
  width: 100%;
  background-color: #000;
  color: #FFF;
 }

h5 {
  background-color: #0066CC;
  color: #FFF;
 }

p {
  font-size: 1.2em;
  font-weight: 50;
  text-align: left;
  width: 100%;
}

#average-rating {
  padding-bottom: 34px;
}

#New_product p {
  font-size: 1.5em;
  font-weight: 50;
  text-align: center;
  padding: 1.5em;
  width: 100%;
}

.productedit-title {
  font-weight: bold;
}

.productedit-field {
  margin-bottom: 3%;
}

.product-form {
  max-width: 800px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.productcomments-user {
  font-size: 1em;
  font-weight: 300;
  color: red!important;
  text-align: left;
  margin-bottom: 100em;
}

.productcomments-star {
  padding-left: 2em;
  padding-right: 2em;
}

.productcomments-text {
  font-size: 1em;
  font-weight: 300;
  color: red!important;
  text-align: left;
  margin-bottom: 100em;
}

.product-comments {
  margin-top: 3em;
  margin-bottom: 3em;
}

.star-rating {
  margin-top: 1em;
  margin-bottom: 3em;
}

.text-bold {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

#footer p {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

#products h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  background-color: #0066CC;
  color: #FFF;
}
