* {
  box-sizing: border-box;
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
}


#navbar-example {
  position: fixed;
  background-color: #0066CC;
  width: 100% !important;
  left: 0;
  z-index: 1000;
}

#navbar-example a {
  padding: 1em;
  background-color: #0066CC;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: color 600ms;
}

#navbar-example a:hover {
  color: #000;
  text-decoration: none;
}

#Index h1, #Products h1 {
  font-family: Questrial, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  background-color: #0066CC;
  color: #FFF;
  padding: 2em 0.5em;
  width: 100%;
}

#Index h2, #Products h2 {
  font-size: 2em;
  font-weight: 50;
  text-align: center;
  padding: 1em;
  width: 100%;
  background-color: #000;
  color: #FFF;
 }

#Index p, #Products p {
  font-size: 1.5em;
  font-weight: 50;
  text-align: center;
  padding: 1.5em;
  width: 100%;
}

#About h1 {
  font-family: Questrial, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  background-color: #0066CC;
  color: #FFF;
  padding: 2em 0.5em;
  width: 100%;
  }

#About p {
  font-size: 1.2em;
  font-weight: 50;
  text-align: center;
  padding: 1.5em 0.5;
  width: 100%;
  background-color: #000;
  color: #FFF;
}

#Contact h1 {
  font-family: Questrial, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  background-color: #0066CC;
  color: #FFF;
  padding: 2em 0.5em;
  width: 100%;
  }

#Contact p {
  font-size: 1.2em;
  font-weight: 50;
  text-align: center;
  padding: 1.5em;
  width: 100%;
  background-color: #000;
  color: #FFF;
}


.img-responsive {
  text-align: center;
  width: 100%;
 }

.jumbotron-images {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* ============ Order ============ */
.order-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
 .order-img {
  width: 120px;
  float: left;
}
 .order-description {
  background-color: white;
  width: 500px;
  min-height: 120px;
}
 .order-description p {
  padding-left: 130px;
  padding-top: 5px;
  font-size: 1em;
}
 .order-price {
  width: 500px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 30px;
}
 .order-info {
  background-color: white;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
}
 .order-info p {
  font-size: 1.1em;
  font-weight: normal;
}
 #total-price {
  font-size: 1.5em;
}
 #total-price::before {
  content: '';
  position: absolute;
  width: 8em;
  height: 0.08em;
  background: #3d3c3c;
}

/* ============ Search ============ */

.search_button {
  background-color: #3d3c3c;
  letter-spacing: 0.07em;
  color: white;
  padding: 1em;
  border: 1px solid #3d3c3c;
  text-align: center;
  font-weight: 300;
  border-bottom-right-radius: 5px;
}
 .search_button:hover  {
  font-size: 1em;
  background-color: #0066CC;
  padding: 1em;
  text-align: center;
}
 .search_field {
  font-size: 1em;
  margin-left: 5px;
  background-color: white;
  padding: 1em;
  border-top-left-radius: 5px;
}

/* ============ Form ============ */

.form-group {
  width: 540px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: #0066CC;
  color: #FFF;
}

.send {
  width: 40px;
  margin: 0 auto;
  color: #FFF;
}

<<<<<<< HEAD
/* ============ Thank you message ============ */
=======
.panel-body {
  margin: 300px;
}
>>>>>>> master

.panel-body {
  margin-top: 300px;
}

 // Place all the styles related to the simple_pages controller here.

p.alert {
   color: red;
 }

p.notice {
   color: #cba90d!important;
   font-size: 2em;
   font-weight: bolder;
   padding-bottom: 2em;
   text-align: center;
 }

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
